@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #00FF90;
}

body {
    background-color: #2E2E2E;
    align-items: center;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #2e2e2e3a;
    backdrop-filter: blur(15px);
}

header .contents {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header .logo {
    margin-right: auto;
}

header .logo i {
    font-size: 50px;
}

header .pages {
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
}

header li {
    display: inline-block;
    margin: auto 20px;
    
}

header li a {
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

header .mode {
    margin-left: auto;
}

header .dark,
.light {
    cursor: pointer;
}

header .dark i,
.light i {
    font-size: 24px;
}

header .dark i:hover{
    color: #41B06E;
}

header .dark {
    display: none;
}

.home {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

.home .text {
    margin-right: 20px;
}

.home .text h1 {
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.home .text h1 .arrow {
    color: #F86663;
    margin-right: 13px;
}

.home .text .my-links {
    display: flex;
    margin: auto;
    align-items: center;
}

.home .text .my-links .btn {
    display: inline-block;
    color: #2E2E2E;
    padding: 10px;
    text-decoration: none;
    background-color: #00FF90;
    border-radius: 12px;
    text-align: center;
    margin-right: 15px;
    transition: 0.2s ease;
}

.home .text .my-links .btn:hover {
    transform: scale(1.1);
}

.home .text .my-links a i {
    font-size: 40px;
    padding: 5px;
    color: #F86663;
    transition: 0.2s ease;
}

.home .text .my-links a i:hover {
    transform: scale(1.15);
}

.home .img img{
    height: 500px;
    width: auto;
}

.about {
    width: 80%;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.about h2 {
    text-align: center;
    margin-bottom: 50px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-content .photo {
    margin: auto 50px;
    
}

.tint {
    margin: 0;
    padding: 0;
    position: relative;
}

.tint img {
    width: 300px;
    height: auto;
    display: block;
    border-radius: 20px;
}

.tint::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00ff9157;
    transition: background-color 0.5s ease;
    border-radius: 20px;
}

.tint:hover::before {
    background-color: #ffffff00;
}

.about-content .about-me-text {
    margin: auto 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 80px auto;
    align-items: center;
}

.card {
    width: 350px;
    background-color: #FEF4DF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: 350px;
    height: auto;
}

.card-content {
    padding: 15px 20px;
}

.card-content h3 {
    font-size: 25px;
    margin-bottom: 12px;
}

.card-content p {
    font-size: 15px;
    margin-bottom: 12px;
}

.card-content h3,
.card-content p {
    color: #051944;
}

.card-content a {
    text-decoration: none;
    background-color: #051944;
    border-radius: 12px;
    line-height: 35px;
    display: block;
    text-align: center;
}

.card-content a:hover {
    background-color: #36EBB0;
    color: #051944;
}